body {

    background-color: #e8eef7;

    font-family: Arial, Helvetica, sans-serif;

    color: #333333;

    margin: 0;

    padding: 50px;

}



h1 {

    color: #34495e;

    font-size: 48px;

}



h2 {

    color: #34495e;

    font-size: 32px;

}



h3 {

    color: #8b5e83;
    font-size: 26px;

}


h4 {

    color: #8b5e83;
    font-size: 18px;
    line-height: 1.5;

}



p {

    font-size: 18px;

    line-height: 1.7;

}



ul {

    font-size: 18px;

}



li {

    margin-bottom: 10px;

}





nav {

    display: flex;

    justify-content: space-between;

    align-items: center;

    background-color: #ffffff;

    padding: 20px 50px;

    border-radius: 15px;

}



nav h2 {

    font-size: 24px;

    color: #34495e;

}



nav ul {

    display: flex;

    list-style: none;

    gap: 30px;

}



nav a {

    text-decoration: none;

    color: #34495e;

    font-weight: bold;

}



nav a:hover {

    color: #8b5e83;

}





.hero {

    text-align: center;

    padding: 80px 20px;

}



.hero h1 {

    font-size: 55px;

}



.hero button {

    background-color: #5b4b8a;

    color: white;

    border: none;

    padding: 15px 30px;

    font-size: 18px;

    border-radius: 10px;

    cursor: pointer;

}



.hero button:hover {

    opacity: 0.85;

}





.about,
.profile,
.experience,
.goals,
.projects {


    background-color: #ffffff;


    padding: 30px;


    border-radius: 15px;


    border: 1px solid #d8dfea;


    max-width: 800px;


    margin: 40px auto;


    box-sizing: border-box;


}





.profile-card {

    padding: 0;

}




.experience-card,
.project-card {

    padding: 15px 0;

    border-bottom: 1px solid #d8dfea;

}



.experience-card:last-child,
.project-card:last-child {

    border-bottom: none;

}



.experience-card li,
.profile-card li {

    margin-bottom: 8px;

}
