body {
    background-color: #eaf2f8;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 50px;
}

h1 {
    color: #2c3e50;
    font-size: 48px;
}

h2 {
    color: #4f6d7a;
}

p {
    font-size: 18px;
    line-height: 1.7;
}

ul {
    font-size: 18px;
}

li {
    margin-bottom: 10px;
}
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 50px;
}

.hero button {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.hero button:hover {
    opacity: 0.8;
}

.project-card {
    background-color: transparent;
    padding: 15px 0;
    border-bottom: 1px solid #f0e0d6;
}

.project-card h3 {
    color: #2c3e50;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 50px;
    border-radius: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
}

nav a:hover {
    color: #4f6d7a;
}
.profile {
    max-width: 800px;
    margin: 40px auto;
}

.profile-card {
    padding: 10px 0;
}

.profile-card h3 {
    color: #8b5e83;
    font-size: 30px;
}

.profile-card h4 {
    color: #4f6d7a;
}

.profile-card li {
    margin-bottom: 8px;
}
.experience {
    max-width: 800px;
    margin: 40px auto;
}

.experience-card {
    background-color: transparent;
    padding: 15px 0;
    border-bottom: 1px solid #f0e0d6;
}

.experience-card h3 {
    color: #8b5e83;
}

.experience-card h4 {
    color: #4f6d7a;
    line-height: 1.5;
}

.experience-card li {
    margin-bottom: 10px;
}
.about,
.profile,
.experience,
.goals,
.projects {
    background-color: #fffaf5;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #f0e0d6;
    max-width: 800px;
    margin: 40px auto;
    box-sizing: border-box;
}
